.banner { width: 45%; }

.fnd-logo img {
	transition: all 0.3s ease-in-out;
}

.fnd-logo img:hover {
	transform: scale(1.1) translateZ(0);
}

.services col-lg-4 {
    padding: 12px;
}

.services .service {
    background-color: white;
    color: black;
}

.service-img-1, .service-img-3 {
	transition: all 0.8s ease-in-out;
}

.service-img-2 {
	transition: all 0.3s ease-in-out;
}

.service:hover .service-img-1 {
	transform: rotate(45deg) scale(0.7);
}

.service:hover .service-img-3 {
	transform: rotate(-45deg) scale(0.7);
}

.service:hover .service-img-2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.buy-me-a-coffee .buy-me-a-coffee-clouds {
    transition: transform .4s;
}

.buy-me-a-coffee:hover .buy-me-a-coffee-clouds {
    animation-name: floating-sideways;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 771px) {
	.navbar-brand { opacity: 1; }

	.banner { width: 75%; }

	.image-between {
		margin-bottom: 24px;
		display: block;
	}
}

@media only screen and (min-width: 770px) {
	.card-btn { float: right; }

    .navbar-brand { display: none; }

	.image-between { margin-right: 12px; }
}